<section class="s-bot-none">
    <div class="title_bg">
      <div class="main_container">
        <div
          class="title yeniElanlar title--left"
          style="padding: 0 !important"
        >
          <span class="center-vertical"> Yeni elanlar </span>
          <form>
            <div class="form-group sort__select">
              <select id="sort_input" class="selectpicker">
                <option value="-created_at" selected>Əvvəlcə yeni</option>
                <option value="created_at">Əvvəlcə köhnə</option>
                <option value="-price">Əvvəlcə baha</option>
                <option value="price">Əvvəlcə ucuz</option>
              </select>
            </div>
          </form>
          <a
            class="btn btn--icon btn--transparent"
            href="#"
          >
            <img src="{% static 'web/img/chevron_lmain.svg' %}" alt="" /> Bütün yeni
            elanlar
          </a>
        </div>
      </div>
    </div>
    <div class="main_container">
      <div class="wrapper">
        <div class="post">
          <div class="post__list">
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="post__item">
              <div class="post__img">
                <img src="{% static 'web/img/example/post2.png' %}" alt="" />
                <div class="post__attributes">
                  <span
                    class="post__vip"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="VIP elan"
                  ></span>
                  <a href="" class="post__favorites"></a>
                </div>
              </div>
              <div class="post__info">
                <div class="px-5">
                  <a href="" class="post__title other_post_title"
                    >Samsung Galaxy S12 phone sell</a
                  >
                  <p>Bakı, 28.01.2021, 16:34</p>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="post__price">2180 ₼</div>
                  <div class="d-flex align-items-center">
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Barter mümkündür"
                    >
                      <img src="{% static 'web/img/barter.svg' %}" alt="" />
                    </span>
                    <span
                      class="post__feature"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Kredit mümkündür"
                    >
                      <img src="{% static 'web/img/percent.svg' %}" alt="" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="sticky-top reklam">
            <a href="" class="d-md-block d-none">
              <img
                src="{% static 'web/img/example/banner3.png' %}"
                alt=""
                class="w-100"
              />
            </a>
            <a href="" class="d-md-none">
              <img
                src="{% static 'web/img/example/banner-mob.png' %}"
                alt=""
                class="w-100"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>