<script>
  document.addEventListener("DOMContentLoaded", function () {
    var carousel = new Flickity(".carousel", {
      prevNextButtons: false, // Отключаем кнопки навигации
      pageDots: false, // Отключаем точки навигации
      contain: true, // Принудительно ограничиваем ширину контейнера
      draggable: true, // Запрещаем перетаскивание для скроллинга
      cellAlign: "left", // Выравниваем элементы к левому краю
    });
    
    // Автоматический скролл к последнему элементу
    carousel.select(0);
  });
</script>

<script src="assets/js/all.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.pkgd.min.js"></script>
<script src="{% static 'web/js/emlak.js' %}"></script>
<!-- <script src="assets/js/descFilters.js"></script> -->

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. 
   <script>
       window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
       ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
   </script>-->
<script
  src="https://www.google-analytics.com/analytics.js"
  async
  defer
></script>
<script type="text/javascript" src="{% static 'web/js/descFilters.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/filter.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/emlak.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/emlakSeher.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/filterTarix.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/kategory.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/newjs.js' %}"></script>