<section class="d-md-block" id="neql_search">
    <div class="main_container">
        <div class="container-fluid forpadding0">
            <div class="row" id="dekstop_search_bar_row">
            <div class="" id="dekstop_search_bar">
                <div class="search">
                <form action="">
                    <div class="input-group search__group">
                    <input
                        type="text"
                        class="form-control search__input"
                        id="home-typed"
                    />
                    <div class="input-group-append search__append">
                        <button
                        class="search__btn"
                        type="button"
                        ></button>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>